<%= form_with model: post, url: path do |form| %>
  <div class="d-flex align-items-center gap-2">
    <%= image_tag 'erwin.jpeg', alt: "Profile", height: 40, width: 40, class: "rounded-circle" %>
    <div class="flex-column">
      <small style="display: block"><%= current_user.username %></small>
      <%= form.select :audience, Post.audiences.keys.map { |key| [key.humanize, key] }, { prompt: 'Choose Status' }, class: "form-control-sm form-select-sm mb-2 bg-dark text-white", style: "max-width: 9rem;" %>
    </div>
  </div>
  <div class="mt-4 mb-2">
    <% invalid = post.errors.include?(:content) %>
    <%= form.text_field :content, class: "form-control text-white #{'is-invalid' if invalid}", style:"outline: none;
              padding: 5px;
              border: 0px;
              box-sizing: unset;
              background-color: transparent;", placeholder: "What's on your mind #{current_user.username}?" %>
    <% if invalid %>
      <div class="invalid-feedback d-block">
        <% post.errors.full_messages_for(:content).each do |error_message| %>
          <%= error_message %>.
        <% end %>
      </div>
    <% end %>
  </div>
  <%= form.file_field :image, class: "form-control mb-2" %>
  <%= form.submit class: "btn btn-primary w-100 mt-4" %>
<% end %>
