<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body style="background-color: #121212" class="text-white">
  <%= render 'layouts/header_form' %>
  <div class="container">
  <span class="notice text-success"><%= notice %></span>
  <span class="alert text-danger"><%= alert %></span>
  <%= yield %>
  <%= turbo_frame_tag "remote_modal" %>
  </div>
  </body>
</html>
